<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJxU3oe2P2oIuNq_s1tpeEw78nghL4HyU</string>
	<key>GCM_SENDER_ID</key>
	<string>1093715874564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seatManagement</string>
	<key>PROJECT_ID</key>
	<string>u-seat-manag</string>
	<key>STORAGE_BUCKET</key>
	<string>u-seat-manag.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093715874564:ios:9815bfe9c4700ec7fa3651</string>
</dict>
</plist>